API_GATEWAY_DOMAIN=host.mydomain.com
API_GATEWAY_DOMAIN_HOSTED_ZONE_ID=ZXXXXXXXXXXXX
API_GATEWAY_SALT=random_string_goes_here
MOVIES_BUCKET=my_movies_bucket
TV_BUCKET=my_tv_bucket
OMDB_API_KEY=my_api_key
POSTER_HEIGHT=900
SETTINGS_BUCKET=my_settings_bucket
API_KEY=my_global_api_key
